<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJFzBzZfSPT81C7_-RQOg94If4gLcVRc8</string>
	<key>GCM_SENDER_ID</key>
	<string>908767967330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hangmanIeeeIntromeet2023</string>
	<key>PROJECT_ID</key>
	<string>hangman-ieee-intromeet-2023</string>
	<key>STORAGE_BUCKET</key>
	<string>hangman-ieee-intromeet-2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908767967330:ios:459b59c5bdb0addb04b93b</string>
</dict>
</plist>